<head>
<link rel="stylesheet" type="text/css" href="<%= url("/gameboard.css")%>">
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
</head>

<header>
  <h1>Tic-Tac-Toe</h1>
</header>


<div class="gameboard-wrapper">
  <div class="gameboard"> 
      <div id="00" class="playable"></div>
      <div id="01" class="left-right playable"></div>
      <div id="02" class="playable"></div>

      <div id="10" class="up-down playable"></div>
      <div id="11" class="all-around playable"></div>
      <div id="12" class="up-down playable"></div>

      <div id="20" class="playable"></div>
      <div id="21" class="left-right playable"></div>
      <div id="22" class="playable"></div>
  </div>
</div>

<div class="game-stats-wrapper">
  <button class="start"> START! </button>
  <div class="current-player">Good Luck!</div>
  <div class="who-starts-wrapper">
    <p>You get to pick who goes first... </p>
    <button class="human-starts">You.</button>
    <strong> <span class="vs">VS.</span> </strong>
    <button class="computer-starts">Computer.</button>
  </div>
  <p> Warning: this game is unbeatable. You can try, but you won't get too far. :-) </p>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/javascripts/gameboard.js"> </script>
<script src="/javascripts/gameoverseer.js"> </script>
