<head>
<link rel="stylesheet" type="text/css" href="<%= url("/gameboard.css")%>">
<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>

<header>
  <h1> Tic Tac Toe </h1>
  <button> Start! </button>
</header>


<div class="gameboard-wrapper">
  <div class="gameboard"> 
      <div></div>
      <div class="left-right"></div>
      <div></div>

      <div class="up-down"></div>
      <div class="all-around"></div>
      <div class="up-down"></div>

      <div></div>
      <div class="left-right"></div>
      <div></div>
  </div>
</div>



